{% extends "base.html" %}
{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Upload Jobs</h1>
                
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}

                        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_jobs') }}">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description" name="description" required>
                            </div>
                            <div class="mb-3">
                                <label for="is_urgent" class="form-label">is_urgent</label>
                                <input type="text" class="form-control" id="is_urgent" name="is_urgent" required>
                            </div>
                            <div class="mb-3">
                                <label for="due_date" class="form-label">due_date</label>
                                <input type="text" class="form-control" id="due_date" name="due_date" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Job</button>
                        </form>
                    </div>
                </main>
{% endblock %}


id = db.Column(db.Integer, primary_key=True)
title = db.Column(db.String(50), unique=True, nullable=False)
description = db.Column(db.Text, nullable=False)
is_urgent = db.Column(db.Boolean, default=False, nullable=False)
due_date = db.Column(db.Date, nullable=False)
url = db.Column(db.String(100)) 
candidate_id = db.Column(db.Integer, db.ForeignKey("candidate.id"), nullable=False)