{% extends "base.html" %}
{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Upload Candidates</h1>
                
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}

                        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_candidates') }}">
                            <div class="mb-3">
                                <label for="first_name" class="form-label">Förnamn</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add candidate</button>
                        </form>
                    </div>
                </main>
{% endblock %}
