{% extends "base.html" %}
{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Upload Jobs</h1>
                
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}

                        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_jobs') }}">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label><br>
                                <textarea id="description" name="description" minlength="5" maxlength="200"
                            type="text" required></textarea>
                                
                            </div>
                            <div class="mb-3">
                                <label for="is_urgent">
                                    <input id="is_urgent" name="is_urgent" type="checkbox">
                                    <span class="lever"></span>
                                    Is Urgent
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="due_date" class="form-label">due_date</label>
                                <input type="date" class="form-control" id="due_date" name="due_date" required>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                                    <select id="candidate_id" name="candidate_id" required>
                                        <option value="" disabled selected>Choose Candidate</option>
                                        {% for candidate in candidates %}
                                            <option value="{{ candidate.id }}">{{ candidate.first_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="candidate_id">candidate</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Job</button>
                        </form>
                    </div>
                </main>
{% endblock %}
