{% extends "base.html" %}
{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Upload Candidates</h1>

                        <form action="/submit-candidate" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="first_name" class="form-label">Förnamn</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Efternamn</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">E-post</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="title" class="form-label">Jobbtitel</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Profilbild</label>
                                <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Registrera</button>
                        </form>
                    </div>
                </main>
{% endblock %}
