{% extends 'base.html' %}
{% load static %}
{% block title %}Dina jobb - Cleo{% endblock %}
{% block content %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3 mt-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i class="fa-regular fa-briefcase"></i></div>
                        Dina jobb
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3 gap-5">
                    <a class="btn btn-sm btn-light text-primary" href="{% url 'add_jobs_pdf' %}">
                        <i class="fa-regular fa-file-pdf me-1"></i>
                        Add jobs from PDF
                    </a>
                    <a class="btn btn-sm btn-light text-primary" href="{% url 'add_jobs_manually' %}">
                        <i class="fa-regular fa-pen-to-square me-1"></i>
                        Add jobs manually
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="container-fluid px-4">
            <div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Företag</th>
                                <th>Plats</th>
                                <th>Typ</th>
                                <th>Tillagd</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Company</th>
                                <th>Location</th>
                                <th>Type</th>
                                <th>Created</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for job in jobs %}
                                <tr>
                                    <td>
                                        <a href="{% url 'job_detail' job.slug %}" class="text-dark fw-bold text-decoration-none">
                                            {{ job.title }}
                                        </a>
                                    </td>
                                    <td>{{ job.company }}</td>
                                    <td>{{ job.location }}</td>
                                    <td>{{ job.employment_type }}</td>
                                    <td>{{ job.created_on|date:"d M Y" }}</td>
                                    <td>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2"
                                        href="{% url 'edit_job' job.slug %}">
                                        <i data-feather="edit"></i>
                                        </a>
                                        <a 
                                            class="btn btn-datatable btn-icon btn-transparent-dark open-delete-modal"
                                            href="#"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-title="{{ job.title }}"
                                            data-url="{% url 'delete_job' job.slug %}"
                                            data-method="post">
                                            <i data-feather="trash-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6">Du har inte laddat upp några jobb ännu.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
