{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard - Cleo{% endblock %}
{% block content %}

    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i class="fa-regular fa-file-pdf"></i></div>
                            Your Candidates
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3 gap-5">
                        <a class="btn btn-sm btn-light text-primary" href="{% url 'add_candidates_pdf' %}">
                            <i class="fa-regular fa-file-pdf"></i>
                            Add candidates from PDF
                        </a>
                        <a class="btn btn-sm btn-light text-primary" href="{% url 'add_candidates_manually' %}">
                            <i class="fa-regular fa-pen-to-square"></i>
                            Add candidates manually
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="container-fluid px-4">
                <div class="card">
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Top Skills</th>
                                    <th>Added date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Top Skills</th>
                                    <th>Added date</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for candidate in candidates %}
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                {{ candidate.first_name }} {{ candidate.last_name }}
                                            </div>
                                        </td>
                                        <td>{{ candidate.email }}</td>
                                        <td>{{ candidate.phone_number }}</td> <!-- Eller visa nåt från modellen om du har det -->
                                        <td>
                                            {% for job in candidate.jobs.all %}
                                                <span class="badge bg-blue-soft text-blue">{{ job.title }}</span>
                                            {% empty %}
                                                <span class="badge bg-secondary text-muted">No jobs</span>
                                            {% endfor %}
                                        </td>
                                        <td>{{ candidate.created_on|date:"d M Y" }}</td>
                                        <td>
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="#">
                                                <i data-feather="edit"></i>
                                            </a>
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#">
                                                <i data-feather="trash-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6">You have no candidates yet.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}